body {
  text-align: center;
}

section {
  display: block;
}

#blanks {
  margin-top: 50px;
}

.character {
  display: inline-block;
  width: 2em;
  height: .5em;
  margin: 10px;
}

.blank {
  display: inline-block;
  width: 2em;
  height: .5em;
  background-color: black;
  margin: 10px;
}

.drawing {
  position: relative;
  height: 25em;
  margin-top: 2em;
}

.vert-pole {
  width: 1%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0%;
  left: 40%;
}

.short-vert-pole {
  width: 1%;
  height: 10%;
  background-color: black;
  position: absolute;
  top: 0%;
  left: 60%;
}

.horiz-pole {
  width: 20%;
  height: 1%;
  background-color: black;
  position: absolute;
  top: 0%;
  left: 40%;
}

.bottom-plat {
  width: 20%;
  height: 1%;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 30%;
}

.person {
  position: absolute;
  top: 8%;
  left: 56%;
}

.head {
  width: 5em;
  height: 5em;
  background-color: black;
  border-radius: 100%;
  position: relative;
  top: 0%;;
}

.body {
  width: 5em;
  height: 8em;
  background-color: black;
  position: absolute;
  top: 100%;
}

.left-arm {
  width: 1em;
  height: 6em;
  background-color: black;
  position: absolute;
  transform: skew(30deg);
  top: 100%;
  left: 110%;
}

.right-arm {
  width: 1em;
  height: 6em;
  background-color: black;
  position: absolute;
  transform: skew(-30deg);
  top: 100%;
  right: 110%;
}

.left-leg {
  width: 1.5em;
  height: 6em;
  background-color: black;
  position: absolute;
  transform: skew(-30deg);
  top: 250%;
  right: 100%;

}

.right-leg {
  width: 1.5em;
  height: 6em;
  background-color: black;
  position: absolute;
  transform: skew(30deg);
  top: 250%;
  left: 100%;
}